@import "../../App";

.empty-content {
  height: auto;
  padding: 50px 20px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  font-family: "Montserrat Regular", sans-serif;
  letter-spacing: 1px;
  color: $gray;
  order: -1;

  @media (min-width: $tablet) {
    padding-top: 100px;
  }

  @media (min-width: $laptop) {
    height: calc(100vh - 120px);
    order: 1;
  }

  a,
  a:link {
    color: $gray;
    text-decoration: none;
    background-position-y: -0%;
    background-image: linear-gradient($white 50%, rgba($purple, .3) 50%);
    transition: background 500ms ease;
    background-size: auto 175%;
  }

  a:hover {
    background-position-y: 100%;
  }
}

