@import "../../App";

.events-sort, .events-sort-active {
  position: absolute;
  top: 100px;
  right: 10px;
  color: $gray-muted;
  font-family: "Montserrat Regular", sans-serif;
  font-size: 14px;
  cursor: pointer;
  @media (min-width: $tablet) {
    right: 50px;
    top: 120px;
  }
  @media (min-width: $desktop) {
    right: 0;
  }

  &:before {
    content: url("./img/sort.svg");
    margin-right: 5px;
  }

  &-active {
    color: $purple;

    &:before {
      content: url("./img/sort-purple.svg");
      margin-right: 5px;
    }
  }
}