@import "../../App";

.event {
  margin-bottom: 20px;
  width: 100%;
  box-shadow: 0 0 30px rgba($gray, .10);
  border-radius: 15px;
  padding: 35px 10px 20px;
  display: flex;
  align-items: center;
  position: relative;
  flex-wrap: wrap;
  color: $gray;
  @media (min-width: $tablet) {
    padding: 40px 20px 30px;
  }
  @media (min-width: $laptop) {
    margin-bottom: 40px;
  }

  &:hover {
    box-shadow: 0 0 30px rgba($gray, .15);
  }

  .dot-wrapper {
    display: flex;
    margin-right: 20px;
  }

  &-title {
    text-transform: uppercase;
    font-family: 'Montserrat Light';
    max-width: 150px;
    width: 100%;
    @media (min-width: $tablet) {
      max-width: 220px;
    }
  }

  &-from {
    font-family: 'Montserrat Regular';
    font-size: 12px;
    margin-left: auto;
    @media (min-width: $tablet) {
      margin-right: 20px;
    }
  }

  .show-more {
    margin-left: auto;
    font-family: 'Montserrat Regular';
    color: $gray-muted;

    &:hover {
      text-decoration: underline;
      cursor: pointer;
    }
  }

  &-expand {
    width: 100%;
    margin-top: 20px;
    position: relative;

    @media (min-width: $tablet) {
      margin-top: 30px;
    }

    .expand-date {
      font-family: 'Montserrat Bold', sans-serif;
      font-size: 12px;
      margin-bottom: 15px;
      position: relative;
      padding-left: 30px;
      letter-spacing: .5px;

      p {
        opacity: .5;
      }

      &:before {
        content: url("./img/calendar.svg");
        position: absolute;
        left: 0;
      }
    }

    .expand-desc {
      font-family: "Montserrat Light";
      font-size: 14px;
    }
  }

  .event-config {
    position: absolute;
    display: flex;
    right: 10px;
    top: 5px;
    @media (min-width: $tablet) {
      right: 20px;
      top: 10px;
    }

    button {
      width: 25px;
      height: 25px;
      border-radius: 50px;
      cursor: pointer;

      &:hover {
        background: rgba($purple, .2);
      }
    }

    &-edit {
      margin-right: 5px;

      &:after {
        content: url("img/edit.svg");
      }
    }

    &-remove {
      &:after {
        content: url("img/remove.svg");
      }
    }
  }
}