@import "../../App";

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 70px;
  padding: 0 50px;
  position: absolute;
  top: 0;
  box-shadow: 0 0 30px rgba($gray, .2);

  .title-wrapper {
    text-transform: uppercase;

    h1 {
      font-size: 14px;
      font-family: 'Montserrat Light';
      color: $gray;
      letter-spacing: 2px;
    }
  }
}