* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

button {
  outline: none;
  border: none;
}

input {
  border: none;
  background: none;
  outline: none;
}

a {
  text-decoration: none;
  color: inherit;
}