@import "../../App";

.breadcrumbs {
  position: absolute;
  top: 120px;
  left: 50px;
  display: flex;
  justify-content: flex-start;
  font-family: 'Montserrat Regular';
  letter-spacing: 1px;
  color: $gray-muted;
  font-size: 14px;

  &-item {
    padding-right: 30px;
    position: relative;

    &:after {
      content: '>';
      right: 10px;
      position: absolute;
    }

    &:last-child {
      &:after {
        content: none;
      }
    }
  }
}